@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&family=Roboto:wght@100;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, p, a {
    text-decoration: none;
    color: #666;
    font-family: 'Montserrat', sans-serif;
}

.main {
    width: calc(100vw - var(--scrollbar));
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 3rem 0;
}

.navbar__left {
    display: flex;
    gap: 1rem;
    width: 300px;
}

.navbar__center h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.navbar__center__ul__img {
    height: 10px;
    margin-right: .5rem;
}

.navbar__right {
    width: 300px;
}


.navbar__right__sup {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.navbar__right__sup__left {
    display: flex;
    border-bottom: 2px solid #333;
    width: 200px;
}

.navbar__right__sup__left__img {
    width: 16px;
    height: auto;
    margin-right: .5rem;
}

.navbar__center__ul {
    display: flex;
    gap: .5rem;
    height: 1rem;
}

.navbar__right__inf ul {
    display: flex;
    gap: 1rem;
}

.content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.card__container {
    margin-bottom: 2rem;
}

.text__container {
    width: 100%;
    text-align: center;
    margin-top: .5rem;
}

.text__container p:first-of-type {
    font-weight: 900;
    margin-top: .5rem;
}

.text__container p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif; 
}

.text__container p:last-of-type {
    color: #666;
}

.discount {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 2px #bbb, 0px 0px 0px #ccc;
    padding: 5rem 0 ;
}

.discount__text__container {
    display: flex;
    flex-direction: column;
}

.discount input {
    width: 100%;
    border: none;
}

.contact {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem 0;
    box-shadow: 0px 0px 0px #ccc, 0px 0px 2px #bbb;
}

.contact__text__container {
    display: flex;
    flex-direction: column;
}

.contact__text__container__int {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.contact__text__container__int__p {
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    padding: 0 2rem;
}

.contact__text__container img {
    width: 30px;
    display: inline-block;
}

.contact__text__container p {
    display: inline-block;
}


footer {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    width: calc(100vw - var(--scrollbar));
}

.footer__div__container {
    margin: 5rem 0;
}

.footer__div__container h4 {
    margin-bottom: 2rem;
}

.footer__div__container li {
    margin-bottom: .75rem;
}